<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta charset="UTF-8">

    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/terminal.min.css" rel="stylesheet">

    <script src="/js/highlight.min.js"></script>

    <title>Code + DevOps</title>
</head>

<body class="terminal container" style="overflow-y: scroll; scrollbar-gutter: stable;">
    <h1>{{ block "heading" . }}{{ .Title }}{{ end }}</h1>

    {{ block "main" . }}{{ end }}

    <script defer src="https://loglesk.io/js/script.js" data-key="r0yye"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            hljs.highlightAll();
        });
    </script>
</body>
</html>
